<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>magazine</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <%- include ("common/header.ejs")%>
    <div id="container">
        <div class="m_center">
            <h2>Archives of Beuaty</h2>
            <div class="m_content">
                <div class="leftwrap"  data-aos="fade-right" data-aos-delay="100"  data-aos-duration="2000">
                    <a class="mgzbox" href='/mgzdetail/<%- mgzData[0].num%>'>
                        <div class="wrap">
                            <img src="/upload/<%- mgzData[0].thumbnail%>">
                            <p class="date"><%- mgzData[0].subtitle%></p>
                            <h6><%- mgzData[0].title%></h6>
                            <p class="context"><%- mgzData[0].content%></p>
                        </div>
                    </a>
                </div>
                <div class="rightwrap"  data-aos="fade-left" data-aos-delay="100"  data-aos-duration="2000">
                    <% for ( let i = 1 ; i < mgzData.length; i++) { %>
                        <a class="mgzbox" href='/mgzdetail/<%- mgzData[i].num%>'>
                            <div class="wrap">
                                <img src="/upload/<%- mgzData[i].thumbnail%>">
                                <p class="date"><%- mgzData[i].subtitle%></p>
                                <h6><%- mgzData[i].title%></h6>
                                <p class="context"><%- mgzData[i].content%></p>
                            </div>
                        </a>
                    <% }%>


                    
                </div>
            </div>
        </div>
        
    </div>
    <%- include ("common/footer.ejs")%>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
   
</body>
</html>